.container{
    display: flex;
}

.mario-gomba{
    width: 300px;
    margin: 50px 0 0 100px;
}

.super-mario {
    width: 200px;
  }

.goomba {
    width: 100px;
    margin-left: 40px;
}

.bowser-baloon{
    margin-left: 200px;
    display:flex;
}

.speech {
    font-size: 25px;
    background-image: url(https://bit.ly/3tmxgED);
    padding: 60px 100px 150px 30px;
    background-repeat: no-repeat;
}

.bowser {
    width: 300px;
    margin: 0 0 100px;
}